<h1><%= @team_name %></h1>
<p> Team Motto: <%= @motto %></p>

<p> Hero Name: <%= @superhero1_name %></p>
<p> Hero Power: <%= @superhero1_power %></p>
<p> Hero Biography: <%= @superhero1_bio %></p>


<p> Hero Name: <%= @superhero2_name %></p>
<p> Hero Power: <%= @superhero2_power %></p>
<p> Hero Biography: <%= @superhero2_bio %></p>


<p> Hero Name: <%= @superhero3_name %></p>
<p> Hero Power: <%= @superhero3_power %></p>
<p> Hero Biography: <%= @superhero3_bio %></p>