<h1>Team Name: <%= @team.name %> </h1> <br>

<h3>Team Motto: <%= @team.motto %> </h3><br>

<h3>Hero Name: <%= @team.heros.first.name %> </h3><br>

<ul>
  <li>Hero Power: <%= @team.heros.first.power %> </li>
  <li>Hero Biography: <%= @team.heros.first.bio %> </li>
</ul><br>

<h3>Hero Name: <%= @team.heros[1].name %> </h3><br>

<ul>
  <li>Hero Power: <%= @team.heros[1].power %> </li>
  <li>Hero Biography: <%= @team.heros[1].bio %> </li>
</ul><br>


<h3>Hero Name: <%= @team.heros.last.name %> </h3><br>

<ul>
  <li>Hero Power: <%= @team.heros.last.power %> </li>
  <li>Hero Biography: <%= @team.heros.last.bio %> </li>
</ul><br>
